.person {
    padding: 10px;
    border-radius: 10px;
    background-color: brown;
    width: 50%;
    font-size: 30px;
    margin: 150px auto; 
}

.person-btn {
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    background-color: blue;
    color: blanchedalmond;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    font-size: 20px;
}